### Ember ###
/frontend/dist
/frontend/tmp
# dependencies
/frontend/node_modules
/frontend/bower_components
# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/*
/frontend/libpeerconnection.log
/frontend/npm-debug.log
/frontend/testem.log
# ember-try
/frontend/.node_modules.ember-try/
/frontend/bower.json.ember-try
/frontend/package.json.ember-try